body{
	margin-left: 45%;
	margin-top: 15%;

}
#dateIN{
	margin: 10px 10px 10px 10px;
	width: 180px;
	height: 20px;

}
#myProgress{
	margin: 10px 10px 10px 10px;
	width: 184px;
	height: 26px;
	background-color: white;
}
#myBar{
	display: inline-block;
	font-size: 500;
	text-align: center;
	width: 0%;
	height: 26px;
    /*background-color: green;*/
    background: linear-gradient(to right, #e8efc2 0%,#abbd73 100%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;